
.container{
    display: flex;
    justify-content: space-around;
}
.container__width{
    width: 100%;
}
.root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-area: main;
}
.paper {
    height: 300px;
    width:20ch;
    max-width: none;
}

.iconKeyboard {
    cursor: pointer;
}
.typeKeys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.typeKeys button {
    min-width: 1rem;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, .23);
    padding: 1px;
    margin: 1px;
}
.typeKeys p {
    margin-right: 30px;
}
.typeKeys span:hover {
    box-shadow: none;
}

.typeKeys span:focus {
    box-shadow: none;
}
.statistics{
    display: flex;
    justify-content: space-evenly;
}
.slider {
    padding: 0 1px;
}
.button__wrapper{
    cursor: pointer;
}
.button__group {
    display: flex;
}
.button__group button{
    min-width: 25px;
    min-height: 20px;
}
.typeText {
    display: flex;
    justify-content: center;
}

.typeText textarea {
    width: 60%;
    text-align: center;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 30px;
    resize: none;
    background-color: white;
}
.keyboard  {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    padding-bottom: 20px;
}
.keyboard button {
    width: 1rem;
    min-width: 0;
    margin-right: 3px;
    height: 2rem;
}

.keyboard button p {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
}

.keyboardLine {
    justify-content: center;
    margin-bottom: 3px;
}
.letter{
    width: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}
.tapeToInput{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tape{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tape form{
    opacity: 0.2;
    text-align: center;
}
.smallStatistic{
    display: flex;
    justify-content: space-evenly;
}