.theme{
  background-color:#e3f2fd;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: "header header header" 150px
                 "ad main aside" auto
                 "footer footer footer" 50px /200px auto 300px;
  grid-gap: 35px;
}